*{
    background-color: rgb(150, 188, 201);
}

#navbar{
    background-color: rgb(28, 28, 138);
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
   
}

  .first{
display: flex;
justify-content: space-between;
  }
  .second{
   
    display: flex;
    justify-content:space-around;
  
    font-size: 35px;
    color:white;
    border-radius: 20px;
  }
#ncc_logo{
    width: 140px;
    height: 120px;
    background-color: rgb(0, 0, 255);
    margin-left: 0px;
   
}
#ncc_cadets{
   width: 1200px;
   height: 750px;
    

}
#ncc{
    color: black;
   
    
    font-size: 40px;
}
#iitr_logo{
    width: 80px;
    height: 80px;
}
a{
   text-decoration: none;
}
#our_aim{
    font-size: 35px;
    text-align:center;
    background-color:rgb(127, 168, 209) ;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: 25px;
    font-family: cursive;
    background-color:rgb(127, 168, 209)

}
*{
    background-color: rgb(127, 168, 209);
}
#strike{
    width:650px;
    height:400px;
    border-radius: 10px;
}
#thomson{
    width:100%;
    height: 500px;
}
#gallery{
    display: flex;
    justify-content:space-around;
}
#vocal{
    width: 200px;
    height: 250px;
}
#beg_visit{
    width: 200px;
    height: 250px;
}
#marathon{
    width: 200px;
    height: 250px;
}
/* #initiative1{
    display: flex;
    justify-content:space-around;
    margin: 5px;
} */
#camp{
    display: flex;
    justify-content: space-around;
    /* width: 100vw; */
    /* flex-direction : row; */
    margin : 5px;
    /* img{
       height: 400px;
       width: 800px;
    }*/
    /* p{
        height: 400px;
       width: 800px;
    }  */
}

/* doing right things */

.initiative{
    display: flex;
    flex-direction: column;
    .initiative1{
        display: flex;
        flex-direction: row;
        margin: 1rem;
        justify-content: space-between;
        
        .strike{
            width:400px;
            height:300px;
            border-radius: 30px;
            padding: 1rem;
        }
    }

    /* .initiative2{
        display: flex;
        flex-direction: row;
        margin: 1rem;
        .strike{
            width:400px;
            height:300px;
            border-radius: 20px;
        }
    } */
}
/* done */
#donation{
    width: 650px;
    height: 400px;
    border-radius: 10px;
}
#our_pledge{
    display: flex;
    justify-content: space-around;
}
#flag{
    border-radius:15px;
}
#downbox{
    display: flex;
    justify-content:space-evenly ;
    flex-direction: row;
}
#camp{
    width:400px;
    height:300px;
    border-radius: 20px;

}
#general{
    width:400px;
    height:300px;
    border-radius: 20px;
}
#about{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}